argus-test-fixtures/nifi_db_hdfs.json
{"flowContents":{"identifier":"6999d80c-c64f-3929-a95a-b410acae73d0","instanceIdentifier":"0e6e36e9-019d-1000-b218-42d131f8014a","name":"DB TO HDFS","comments":"","position":{"x":848.0,"y":-8.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"32a25968-13b7-3454-9bbd-37460d70b479","instanceIdentifier":"0e81c600-019d-1000-d97e-45964b9925c0","name":"ConvertRecord","comments":"","position":{"x":-800.0,"y":376.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"6ce54a3e-f309-34bb-8196-c3653ab5ca3f","Record Reader":"9bc527de-79c3-38e4-a46f-62e8a4bf8632"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6999d80c-c64f-3929-a95a-b410acae73d0"},{"identifier":"4c2f46c1-15ef-37c2-be91-d7af6d5722dd","instanceIdentifier":"0e7bb542-019d-1000-55c9-c493746f01df","name":"PartitionRecord","comments":"","position":{"x":-896.0,"y":128.0},"type":"org.apache.nifi.processors.standard.PartitionRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Record Writer":"d1bf11a0-41b5-3217-9c4e-001c378ea0ab","Record Reader":"2aade95e-ebba-3a94-b3f4-c06a638f4d16","part_date":"${partition}"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"part_date":{"name":"part_date","displayName":"part_date","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6999d80c-c64f-3929-a95a-b410acae73d0"},{"identifier":"316693fc-2cb0-34be-a781-54620fb4cae3","instanceIdentifier":"0e6fa157-019d-1000-aca6-9079bb9e2811","name":"UpdateAttribute","comments":"","position":{"x":-712.0,"y":-320.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.8.0"},"properties":{"schema":"${avroSchema}","Delete Attributes Expression":null,"partition":"${tablePartition}","Store State":"Do not store state","query":"${sqlQuery}","Cache Value Lookup Cache Size":"100","platformId":"${platform_id}","Stateful Variables Initial Value":null,"db":"${dbName}","table":"${tableName}"},"propertyDescriptors":{"schema":{"name":"schema","displayName":"schema","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"partition","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"query":{"name":"query","displayName":"query","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"platformId":{"name":"platformId","displayName":"platformId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db":{"name":"db","displayName":"db","identifiesControllerService":false,"sensitive":false,"dynamic":true},"table":{"name":"table","displayName":"table","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6999d80c-c64f-3929-a95a-b410acae73d0"},{"identifier":"4ebfc3e2-29c4-3471-0000-000000000000","instanceIdentifier":"b8ee8f80-512d-3dba-250b-587cb45d0cf4","name":"ExecuteSQLRecord","position":{"x":-584.0,"y":-72.0},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Set Auto Commit":"true","Max Wait Time":"0 seconds","SQL Query":"${query}","Normalize Table/Column Names":"false","Database Connection Pooling Service":"799f59a9-51c1-34b6-0000-000000000000","Default Decimal Scale":"0","SQL Post-Query":"","Fetch Size":"0","Output Batch Size":"0","Use Avro Logical Types":"false","Record Writer":"e12b0d6f-6356-31e2-0000-000000000000","SQL Pre-Query":"","Default Decimal Precision":"10","Max Rows Per FlowFile":"0"},"propertyDescriptors":{"Set Auto Commit":{"name":"Set Auto Commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Normalize Table/Column Names":{"name":"Normalize Table/Column Names","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Default Decimal Scale":{"name":"Default Decimal Scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Post-Query":{"name":"SQL Post-Query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fetch Size":{"name":"Fetch Size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Batch Size":{"name":"Output Batch Size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Avro Logical Types":{"name":"Use Avro Logical Types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Pre-Query":{"name":"SQL Pre-Query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Default Decimal Precision":{"name":"Default Decimal Precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Rows Per FlowFile":{"name":"Max Rows Per FlowFile","displayName":"Max Rows Per FlowFile","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6999d80c-c64f-3929-a95a-b410acae73d0"},{"identifier":"479636bc-1439-39cc-987c-b3c67e95f211","instanceIdentifier":"0e88985f-019d-1000-eea8-6f78c7d888bf","name":"PutParquet","comments":"","position":{"x":-304.0,"y":168.0},"type":"org.apache.nifi.processors.parquet.PutParquet","bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"2.8.0"},"properties":{"Hadoop Configuration Resources":"/etc/hadoop/core-site.xml,/etc/hadoop/hdfs-site.xml","Enable Dictionary Encoding":null,"Remote Owner":null,"Compression Type":"UNCOMPRESSED","Permissions Umask":null,"Kerberos User Service":null,"Additional Classpath Resources":null,"Row Group Size":null,"Page Size":null,"Record Reader":"2c9617fb-f412-3386-a392-f77a5a415c99","Remove CRC Files":"false","Max Padding Size":null,"Remote Group":null,"Dictionary Page Size":null,"Avro Add List Element Records":"true","Overwrite Files":"false","Writer Version":null,"Enable Validation":null,"Avro Write Old List Structure":"true","Directory":"hdfs://nameservice/data/catalog/${platformId}/${db}/${table}/${part_date}"},"propertyDescriptors":{"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Enable Dictionary Encoding":{"name":"Enable Dictionary Encoding","displayName":"Enable Dictionary Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Type":{"name":"Compression Type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions Umask":{"name":"Permissions Umask","displayName":"Permissions Umask","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Row Group Size":{"name":"Row Group Size","displayName":"Row Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Page Size":{"name":"Page Size","displayName":"Page Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Remove CRC Files":{"name":"Remove CRC Files","displayName":"Remove CRC Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Padding Size":{"name":"Max Padding Size","displayName":"Max Padding Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Dictionary Page Size":{"name":"Dictionary Page Size","displayName":"Dictionary Page Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Avro Add List Element Records":{"name":"Avro Add List Element Records","displayName":"Avro Add List Element Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Overwrite Files":{"name":"Overwrite Files","displayName":"Overwrite Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Writer Version":{"name":"Writer Version","displayName":"Writer Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Validation":{"name":"Enable Validation","displayName":"Enable Validation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Avro Write Old List Structure":{"name":"Avro Write Old List Structure","displayName":"Avro Write Old List Structure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"100 ms","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6999d80c-c64f-3929-a95a-b410acae73d0"},{"identifier":"a697cad0-67a9-3bf6-944a-8b9dad79d0cd","instanceIdentifier":"0e6dc668-019d-1000-25b7-87fe284de7a6","name":"GenerateFlowFile","comments":"","position":{"x":-712.0,"y":-568.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Mime Type":null,"Custom Text":null,"Character Set":"UTF-8","Data Format":"Text"},"propertyDescriptors":{"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mime Type":{"name":"Mime Type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Text":{"name":"Custom Text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6999d80c-c64f-3929-a95a-b410acae73d0"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"37e666ed-7836-3125-b11f-7584ed0dcac4","instanceIdentifier":"0e81eed6-019d-1000-6a4b-c628c90bfb31","name":"","source":{"id":"4c2f46c1-15ef-37c2-be91-d7af6d5722dd","type":"PROCESSOR","groupId":"6999d80c-c64f-3929-a95a-b410acae73d0","name":"PartitionRecord","comments":"","instanceIdentifier":"0e7bb542-019d-1000-55c9-c493746f01df"},"destination":{"id":"32a25968-13b7-3454-9bbd-37460d70b479","type":"PROCESSOR","groupId":"6999d80c-c64f-3929-a95a-b410acae73d0","name":"ConvertRecord","comments":"","instanceIdentifier":"0e81c600-019d-1000-d97e-45964b9925c0"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6999d80c-c64f-3929-a95a-b410acae73d0"},{"identifier":"02eb3372-c148-3090-89d7-8a2cd405c61e","instanceIdentifier":"0e6faf30-019d-1000-aedb-034d022ae8bf","name":"","source":{"id":"a697cad0-67a9-3bf6-944a-8b9dad79d0cd","type":"PROCESSOR","groupId":"6999d80c-c64f-3929-a95a-b410acae73d0","name":"GenerateFlowFile","comments":"","instanceIdentifier":"0e6dc668-019d-1000-25b7-87fe284de7a6"},"destination":{"id":"316693fc-2cb0-34be-a781-54620fb4cae3","type":"PROCESSOR","groupId":"6999d80c-c64f-3929-a95a-b410acae73d0","name":"UpdateAttribute","comments":"","instanceIdentifier":"0e6fa157-019d-1000-aca6-9079bb9e2811"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6999d80c-c64f-3929-a95a-b410acae73d0"},{"identifier":"b344f56e-9774-3407-a435-f2d649a047fc","instanceIdentifier":"0e801d6b-019d-1000-140f-74ce7d688909","name":"","source":{"id":"4ebfc3e2-29c4-3471-0000-000000000000","type":"PROCESSOR","groupId":"6999d80c-c64f-3929-a95a-b410acae73d0","name":"ExecuteSQLRecord","instanceIdentifier":"b8ee8f80-512d-3dba-250b-587cb45d0cf4"},"destination":{"id":"4c2f46c1-15ef-37c2-be91-d7af6d5722dd","type":"PROCESSOR","groupId":"6999d80c-c64f-3929-a95a-b410acae73d0","name":"PartitionRecord","comments":"","instanceIdentifier":"0e7bb542-019d-1000-55c9-c493746f01df"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6999d80c-c64f-3929-a95a-b410acae73d0"},{"identifier":"59310261-a8e9-3907-b0de-25cea9b19df5","instanceIdentifier":"0e729824-019d-1000-e65b-5a73a2ed8d2f","name":"","source":{"id":"316693fc-2cb0-34be-a781-54620fb4cae3","type":"PROCESSOR","groupId":"6999d80c-c64f-3929-a95a-b410acae73d0","name":"UpdateAttribute","comments":"","instanceIdentifier":"0e6fa157-019d-1000-aca6-9079bb9e2811"},"destination":{"id":"4ebfc3e2-29c4-3471-0000-000000000000","type":"PROCESSOR","groupId":"6999d80c-c64f-3929-a95a-b410acae73d0","name":"ExecuteSQLRecord","instanceIdentifier":"b8ee8f80-512d-3dba-250b-587cb45d0cf4"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6999d80c-c64f-3929-a95a-b410acae73d0"},{"identifier":"26b410c7-4d3e-3372-9faa-cd07cdc603a6","instanceIdentifier":"0e8a295e-019d-1000-75d7-cb1c61279ddb","name":"","source":{"id":"32a25968-13b7-3454-9bbd-37460d70b479","type":"PROCESSOR","groupId":"6999d80c-c64f-3929-a95a-b410acae73d0","name":"ConvertRecord","comments":"","instanceIdentifier":"0e81c600-019d-1000-d97e-45964b9925c0"},"destination":{"id":"479636bc-1439-39cc-987c-b3c67e95f211","type":"PROCESSOR","groupId":"6999d80c-c64f-3929-a95a-b410acae73d0","name":"PutParquet","comments":"","instanceIdentifier":"0e88985f-019d-1000-eea8-6f78c7d888bf"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6999d80c-c64f-3929-a95a-b410acae73d0"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"d1bf11a0-41b5-3217-9c4e-001c378ea0ab","instanceIdentifier":"0e80f8e6-019d-1000-b0f1-14fc4ba7bec0","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.8.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Schema Registry":null,"Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","Schema Write Strategy":"avro-embedded","Encoder Pool Size":"32","Compression Format":"NONE","Schema Cache":null,"Schema Version":null,"Cache Size":"1000","Schema Reference Writer":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encoder Pool Size":{"name":"Encoder Pool Size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Size":{"name":"Cache Size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.8.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6999d80c-c64f-3929-a95a-b410acae73d0"},{"identifier":"06451906-7b49-3802-a6d5-9617377b9fa6","instanceIdentifier":"0e759c95-019d-1000-94e8-e33152659e55","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.8.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avroSchema}","Schema Registry":null,"Schema Access Strategy":"schema-text-property","Schema Name":"${schema.name}","Schema Write Strategy":"full-schema-attribute","Encoder Pool Size":"32","Compression Format":"NONE","Schema Cache":null,"Schema Version":null,"Cache Size":"1000","Schema Reference Writer":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encoder Pool Size":{"name":"Encoder Pool Size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Size":{"name":"Cache Size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.8.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6999d80c-c64f-3929-a95a-b410acae73d0"},{"identifier":"2c9617fb-f412-3386-a392-f77a5a415c99","instanceIdentifier":"0e894782-019d-1000-5146-283cd4819d87","name":"ParquetReader","comments":"","type":"org.apache.nifi.parquet.ParquetReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"2.8.0"},"properties":{"Avro Read Compatibility":"true","Avro Add List Element Records":"true"},"propertyDescriptors":{"Avro Read Compatibility":{"name":"Avro Read Compatibility","displayName":"Avro Read Compatibility","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Avro Add List Element Records":{"name":"Avro Add List Element Records","displayName":"Avro Add List Element Records","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.8.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6999d80c-c64f-3929-a95a-b410acae73d0"},{"identifier":"799f59a9-51c1-34b6-0000-000000000000","instanceIdentifier":"87e3b111-330c-307b-25d7-429ce885351c","name":"DBCPConnectionPool","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.8.0"},"properties":{"Maximum Idle Connections":"8","Database Driver Locations":"/usr/share/java/mysql-connector-java.jar","Max Wait Time":"500 millis","Database Driver Class Name":"com.mysql.jdbc.Driver","Minimum Idle Connections":"0","Kerberos User Service":null,"Max Total Connections":"8","Validation Query":"","Database Password Provider":null,"Database Connection URL":"jdbc:mysql://172.30.1.210:3306/test","Password Source":"PASSWORD","Time Between Eviction Runs":"-1","Database User":"test","Soft Minimum Evictable Idle Time":"-1","Maximum Connection Lifetime":"-1","Minimum Evictable Idle Time":"30 mins"},"propertyDescriptors":{"Maximum Idle Connections":{"name":"Maximum Idle Connections","displayName":"Maximum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Locations":{"name":"Database Driver Locations","displayName":"Database Driver Locations","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","DIRECTORY","FILE"]}},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Idle Connections":{"name":"Minimum Idle Connections","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation Query":{"name":"Validation Query","displayName":"Validation Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Password Provider":{"name":"Database Password Provider","displayName":"Database Password Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password Source":{"name":"Password Source","displayName":"Password Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Between Eviction Runs":{"name":"Time Between Eviction Runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Soft Minimum Evictable Idle Time":{"name":"Soft Minimum Evictable Idle Time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Connection Lifetime":{"name":"Maximum Connection Lifetime","displayName":"Maximum Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Evictable Idle Time":{"name":"Minimum Evictable Idle Time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.8.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0e6e36e9-019d-1000-b218-42d131f8014a"},{"identifier":"6ce54a3e-f309-34bb-8196-c3653ab5ca3f","instanceIdentifier":"0e87d4ba-019d-1000-1c01-326133e27685","name":"ParquetRecordSetWriter","comments":"","type":"org.apache.nifi.parquet.ParquetRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"2.8.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Enable Dictionary Encoding":null,"Schema Text":"${avro.schema}","Compression Type":"UNCOMPRESSED","Row Group Size":null,"Page Size":null,"Max Padding Size":null,"Schema Registry":null,"Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","Dictionary Page Size":null,"Avro Add List Element Records":"true","INT96 Fields":null,"Schema Write Strategy":"no-schema","Schema Cache":null,"Writer Version":null,"Schema Version":null,"Cache Size":"1000","Enable Validation":null,"Avro Write Old List Structure":"true","Schema Reference Writer":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Enable Dictionary Encoding":{"name":"Enable Dictionary Encoding","displayName":"Enable Dictionary Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Type":{"name":"Compression Type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Row Group Size":{"name":"Row Group Size","displayName":"Row Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Page Size":{"name":"Page Size","displayName":"Page Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Padding Size":{"name":"Max Padding Size","displayName":"Max Padding Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Dictionary Page Size":{"name":"Dictionary Page Size","displayName":"Dictionary Page Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Avro Add List Element Records":{"name":"Avro Add List Element Records","displayName":"Avro Add List Element Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"INT96 Fields":{"name":"INT96 Fields","displayName":"INT96 Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Writer Version":{"name":"Writer Version","displayName":"Writer Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Size":{"name":"Cache Size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Validation":{"name":"Enable Validation","displayName":"Enable Validation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Avro Write Old List Structure":{"name":"Avro Write Old List Structure","displayName":"Avro Write Old List Structure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.8.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6999d80c-c64f-3929-a95a-b410acae73d0"},{"identifier":"9bc527de-79c3-38e4-a46f-62e8a4bf8632","instanceIdentifier":"0e7c96e1-019d-1000-c8f5-f169216d97cb","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.8.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Schema Version":null,"Cache Size":"1000","Fast Reader Enabled":"true","Schema Registry":null,"Schema Access Strategy":"embedded-avro-schema","Schema Name":"${schema.name}"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Size":{"name":"Cache Size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fast Reader Enabled":{"name":"Fast Reader Enabled","displayName":"Fast Reader Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.8.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6999d80c-c64f-3929-a95a-b410acae73d0"},{"identifier":"2aade95e-ebba-3a94-b3f4-c06a638f4d16","instanceIdentifier":"0e80db0e-019d-1000-5ba5-f8b221031e31","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.8.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Schema Version":null,"Cache Size":"1000","Fast Reader Enabled":"true","Schema Registry":null,"Schema Access Strategy":"embedded-avro-schema","Schema Name":"${schema.name}"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Size":{"name":"Cache Size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fast Reader Enabled":{"name":"Fast Reader Enabled","displayName":"Fast Reader Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.8.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6999d80c-c64f-3929-a95a-b410acae73d0"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}